!!! 1.1
%html
  %head
    %meta{ 'http-equiv'=>'Content-Type', :content=>'text/html;charset=UTF-8' }/
    %title= Sube::APP_TITLE
    %link{:rel => 'stylesheet', :type => 'text/css', :href => path_to('/extjs/resources/css/ext-all.css')}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => path_to('/extjs/resources/css/xtheme-default.css')}

    %script{:type => 'text/javascript', :src => path_to('/jwplayer/swfobject.js')}

    %script{:type => 'text/javascript', :src => path_to('/extjs/ext-base.js')}
    %script{:type => 'text/javascript', :src => path_to('/extjs/ext-all.js')}

    %script{:type => 'text/javascript', :src => path_to('/extjs/custom/ext-sync.js')}

    %link{:rel => 'stylesheet', :type => 'text/css', :href => path_to('/extjs/spinner/Spinner.css')}
    %script{:type => 'text/javascript', :src => path_to('/extjs/spinner/Spinner.js')}
    %script{:type => 'text/javascript', :src => path_to('/extjs/spinner/SpinnerStrategy.js')}

    %script{:type => 'text/javascript', :src => path_to('/js/sube.js')}
    %script{:type => 'text/javascript', :src => path_to('/js/sube/start.js')}
  %body
    #main
      %ul
        %li http://www.videoverse.org/downloadmedia/727/dl/undated/2/721/GMI011-Extreme_Faith-3530.flv
        %li http://www.metacafe.com/watch/1173812/wall_e_vacuum_vignette_trailer/
    #north
      #log
      #status
    
