<script type="text/javascript">
(function() {
  var win = Ext.getCmp('<%= params["winId"] %>');
  var sub = win.sub;
  sub.gist = '<%= params["gist"] %>';
  win.setTitle("Subtitle [Gist "+sub.gist+"]");
  var gistURI = 'http://gist.github.com/'+sub.gist;
  Sube.log('Saved in <a href="'+gistURI+'">'+gistURI+'</a>');
  sub.grid.mask.hide();
  var newWindow = window.open(gistURI, '_sube_gist');
  newWindow.focus();
})();
</script>
