%h2 Key Bindings

.desc
  The following keybings are defined on a SubE window.

%h3 Movement Keys
.desc
  Inspired by vi movement keys.
:redcloth
  |_. Gesture |_. Action |
  | Ctrl + h  | Move to the first caption |
  | Ctrl + j  | Move to next caption |
  | Ctrl + k  | Move to the previous caption |
  | Ctrl + l  | Move to the last caption |

%h3 Caption line 
.desc
:redcloth
  |_. Gesture        |_. Action |
  | Ctrl + Shift + h | Create a new caption at the beginning |
  | Ctrl + Shift + j | Create a new caption after the current one |
  | Ctrl + Shift + k | Create a new caption before the current one |
  | Ctrl + Shift + l | Create a new caption at the end |

%h3 CaptionTime Editing Keys
.desc
:redcloth
  |_. Gesture        |_. Action |
  | Ctrl + v         | Decrement the From seconds by 1 |
  | Ctrl + b         | Increment the From seconds by 1 |
  | Ctrl + Shift + v | Decrement the From minutes by 1 |
  | Ctrl + Shift + b | Increment the From minutes by 1 |
  | Alt + v          | Decrement the To seconds by 1 |
  | Alt + b          | Increment the To seconds by 1 |
  | Alt + Shift + v  | Decrement the To minutes by 1 |
  | Alt + Shift + b  | Increment the to minutes by 1 |
