#overview.section
  %h2
    :textile
      Welcome to Sub~E~
  :textile
    Sub~E~ is a web-based caption authoring tool.
  %p
    You can use it to create, edit, publish, and more importantly, to collaborate with
    other people while creating subtitles for video or audio files.
  %p
    All you need to get started is your browser, you don't have to install aditional
    software. Because of this the media you want to localize must be already published
    on the internet and you must know the URL pointing to it.
  %p
    Read the GettingStarted section

#features.section
  %h2 Features
  
 
#future.section
  %h2 Future plans

#bugs.section
  %h2 Known bugs
